.meta-data-label {
  display: inline-block;
  line-height: 1;
  vertical-align: baseline;
  margin: 0.2rem 0.14285714em;
  background-color: #e8e8e8;
  background-image: none;
  padding: 0.5833em 0.833em;
  color: rgba(0, 0, 0, 0.6);
  text-transform: none;
  font-weight: 700;
  border: 0 solid transparent;
  border-radius: 0.28571429rem;
}
