.login-logo {
  display: block;
  position: absolute;
  height: 512px;
  width: 512px;
  left: calc(50% - 600px);
  top: 15%;
  background-image: url("../../../public/logo512.png");
}

.login-board {
  position: fixed;
  right: 10%;
  top: 18%;
  bottom: 30%;
  left: 70%;
  background-color: rgba(255, 255, 255, 0.7);

  border-radius: 0.5rem;
  padding: 2rem;

  display: flex;
  flex-direction: column;

}

.login-title {
  margin: 8px auto;
  font-size: 30px;
  font-family: "Times New Roman";
  color: #000000;
  user-select: none;
}

.login-prompt {
  margin: 1rem 0 0;
  user-select: none;
}

.my-input {
  margin: 0.5rem auto 1rem;
  padding: 0.5rem;
  width: 100%;
  font-size: 16px;
  text-align: left;
  border-radius: 10px;
  border-width: 2px;
  border-color: #000c17;
  background-color: white;
  transition: all 1s ;
}

.input-correct {
  border-color: rgb(102, 200, 51);
  box-shadow: 0 0 0 5px rgb(102 200 51 / 20%);
}

.input-wrong {
  border-color: rgb(240 0 0);
  box-shadow: 0 0 0 5px rgb(240 0 0 / 20%);
}

.login-button {
  text-align: center;
  height: 40px;
  margin-top: 1.5rem;
}

.register-forget {
  display: flex;
  flex-direction: row;
  margin: 1rem auto;
}

.register {
  text-align: center;
  padding-right: 10px;
  color: #000000;
}

.forget {
  text-align: center;
  padding-left: 10px;
  color: #000000;
}

.footnote {
  position: absolute;
  bottom: 0px;
  left: calc(50% - 120px);
  text-align: center;
  font-family: "Microsoft YaHei UI";
  font-size: 15px;
  color: #ffffff;
}
