.UserCard-small {
  display: inline;
  cursor: pointer;
}

.UserCard-small-avatar:hover {
  opacity: 0.8;
}

.UserCard-modal {

}

.UserCard-modal-up {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.UserCard-modal-down {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.UserCard-activity {
  flex-grow: 1;
}

.UserCard-projects {
  background: #7ee787;
  flex-grow: 1;
}

