@import "antd/dist/antd.css";

.header {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(to right, #001529 100%, #000 0%);
}

.header-left {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.undefined {
  width: 200px;
  height: 60px;
  margin-bottom: 4px;
  text-align: center;
}

.header-item {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}

.header-item:hover {
  text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ffffff,
    0 0 80px #ffffff, 0 0 120px #ffffff, 0 0 160px #ffffff;
}

.header-right {
  padding-right: 100px;
  cursor: pointer;
}

.avatar-wrapper:hover {
  box-shadow: 1px 1px 1px 1px #fff;
}
