.calendar {
  position: relative;
  margin: 0;
  display: flex;
  width: 75vw;
  flex-direction: row;
  background: rgb(251, 251, 251);
  justify-content: center;
  min-height: 75vh;
  border-radius: 1rem;
}
