.list-list {
  width: 20vw;
  height: 50vh;
  margin: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  background: rgb(244, 245, 247);
}

.list-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  text-align: center;
  font-family: "Microsoft YaHei UI";
}

.ant-divider-horizontal {
  margin: 6px 0;
}

.list-content {
  overflow-x: hidden;
  overflow-y: auto;
}
