.card-small {
  height: 100px;
  left: 0;
  margin: 20px 5px 5px 5px;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  background: #fff;
  box-shadow: 1px 1px 2px #aaaaaa;
  transition: color 0.5s ease 0.5s;
}

.modal {
  background: white;
  height: 1px;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  transition: width 0.5s ease 0.5s, height 0.5s;
  width: 0;
}

.card-small:hover {
  background: rgb(244, 245, 247);
}

.card-small-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-small-header-left {
  width: 70%;
  font-weight: bold;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: normal;
}

.card-small-header-right {
}

.card-small-description {
  overflow-wrap: normal;
}

.card-small-down {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-small-avatar {
  margin-right: 5px;
  cursor: pointer;
}

.ant-modal-title {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal-header-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.modal-content-up {
}

.modal-content-middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

.modal-content-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 方法一 start */
.wrap {
  position: relative;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.title-related {
  font-weight: bold;
  font-size: 1rem;
}

.wrap .title-related {
  position: absolute;
  top: -1em;
  left: 2%;
  line-height: 2em;
  padding: 0 1em;
  background-color: #fff;
}
/* 方法一 end */

.modal-content {
  width: 100%;
  max-width: 100%;
  overflow: auto;
  padding-top: 20px;
}

.card-input {
  cursor: pointer;
  height: 0;
  opacity: 0;
  width: 0;
}

.card-input:focus {
  outline: none;
}

.card-input:checked {
  height: 40px;
  opacity: 1;
  position: fixed;
  right: 12vw;
  top: 12.5vh;
  -webkit-appearance: none;
  width: 40px;
}
.card-input:checked::after,
.card-input:checked:before {
  border-top: 2px solid #000;
  content: "";
  display: block;
  position: absolute;
  top: 60%;
  transform: rotate(45deg);
  width: 50%;
}
.card-input:checked::after {
  transform: rotate(-45deg);
}

.card-input:checked + label {
  color: #fff;
  transition: color 0.5s ease;
}

.card-input:checked ~ .modal {
  height: 75vh;
  width: 75vw;
  transition: width 0.5s ease, height 0.5s ease 0.5s;
}
.card-input:checked ~ .modal .content {
  color: #fff;
  transition: color 0.5s ease 0.5s;
}
