.project-iteration-container {
  display: flex;
  flex-direction: column;

  min-height: 80vh;
  width: 80vw;
  margin-top: 3rem;
  background-color: rgba(249, 249, 249);
}

.project-iteration-map-container {
  min-height: 30vh;
  width: 72vw;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0 auto;
}

.iteration-table {
  text-align: center;
}

.project-iteration-header {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}
