@import "~antd/dist/antd.css";

.prjlist {
  width: 100%;
  text-align: center;
  padding: 20px 300px;
  background-color: #ffffff;
}

.ant-pro-list-row:hover{
  background-color: #e7f0ff;
  cursor: pointer;
}

.ant-pro-list-row {
  padding: 20px 20px;
}

.ant-pro-list-row-title {
  width: 300px;
  text-align: left;
}

.ant-pro-table-list-toolbar-container {
  display: flex;
  flex-direction: row;
}

.ant-pro-table-list-toolbar-title {
  font-size: 30px;
}

.ant-pro-table-list-toolbar-left {
  width: 90%;
  text-align: left;
}

.ant-list-item-meta-avatar {
  padding-top: 20%;
}

.ant-pro-list-row-content {
  display: flex;
}
