@import "~antd/dist/antd.css";

.SRTable {
  padding-right: 15rem;
  padding-top: 1rem;
}

.ant-pro-table-list-toolbar-container {
  text-align: right;
  margin: 20px;
}

.ant-modal-content {
  width: 100%;
}
