@import "~antd/dist/antd.css";

.prjuser {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 1rem;
  min-height: 80vh;
  border-radius: 2rem;
  background-color: #ffffff;
}

.ant-pro-card-hoverable:hover {
  background-color: #e7f0ff;
}

.ant-pro-card-hoverable {
}

.avatarimg {
  width: 15vw;
  height: 15vw;
}
