@import "~antd/dist/antd.css";

.prjuser {

  margin-top: 2rem;
  min-height: 80vh;
  border-radius: 1rem;

  width: 75vw;

  background-color: #fff;
  padding: 3rem;


  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
}

.ant-pro-card-hoverable:hover {
  background-color: #e7f0ff;
}

.ant-pro-card-hoverable {
}

.avatarimg {
  width: 15vw;
  height: 15vw;
}
